---
title: TogetherApp
---

<script src="https://use.fontawesome.com/0f54f73166.js"></script>

<body>
  <div class="banner">
      <img class="logo" src="images/together_logo_copy.png">
      <h1 style="font-size: 60px; padding-top: 42px; text-shadow: 1px 1px 0px #000;">Make great things happen.</h1>
      <h2 style="font-size: 30px; text-shadow: 1px 1px 0px #000; ">Find efficient ways to support environmental or political causes. <br> Team up with likeminded people and get active.</h2>
      <br>
      <br>
      <br>
      <br>
      <h3><i class="fa fa-handshake-o fa-3x" aria-hidden="true" style="font-weight: bold;">   Get started</i></h3>
      <i class="fa fa-arrow-circle-o-down fa-3x" aria-hidden="true" style="font-weight: bold; color:#00CCFF;"></i>
  </div>
  <div class="description" style="background-color: #269FD6;" >
    <img class="pic" src="images/pic2-1.png">
    <i class="fa fa-arrow-circle-o-down fa-3x" aria-hidden="true" style="font-weight: bold; color:#00CCFF; align: center;"></i>
    <img class="pic" src="images/pic1-2.png">
    <img class="pic" src="images/pic3-1.png">
  </div>
  <br><br><h1 style="color: grey;">How it works</h1><br><br>
  <div class="description" style="background-color: #FFFFFF;">
    <img class="pic" src="images/pic4-1.png" style="background-color: #FFFFFF;">
    <br><br><h1 style="color: grey;">What it does</h1>
    <img class="pic" src="images/pic5.png" style="background-color: #FFFFFF;">
  </div>
  <div class="text" style="background-color: #269FD6;">
    <br><h1 style="color: white;">COMING SOON</h1><br>
  </div>
</body>
